/*Base Colors*/
:root {
    --header-greenblue: #31cde8;
    --header-lightblue: #18a2ff;
    --header-blue: #186cff;
    --header-greyblue: #2c57a6;
    --header-darkblue: #2514b8;
    --main-body-green: #40ae49;
    --main-body-orange: #cb6926;
    --main-body-brown: #733102;
    --main-body-pink: #ed028c;
    --main-body-white: #edfae6;
}
/*Base Colors*/

/*Header Start*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-darkblue);
    height: 60px;
}
/*Header End*/

/*Nav Bar*/
nav {
    height: 100%;
    text-align: center;
    width: 100%; /* Ensure nav takes full width */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; /* Spread items evenly */
    height: 100%;
    width: 100%; 
}

nav ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav ul li img {
    width: 90%;
    height: 100%;
}
/*Nav Bar end*/

/*Items in Nav Bar*/
nav ul li a.geschäftsmodell-transformation-link {
    background-color: var(--header-greyblue);
}

nav ul li a.trends-link {
    background-color: var(--header-blue);
}

nav ul li a.know-how-link {
    background-color: var(--header-lightblue);
}

nav ul li a.partner-link {
    background-color: var(--header-greenblue);
}

nav ul li a:hover {
    opacity: 0.8;
}
/*Items in Nav Bar End*/

/*Body start*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/images/index-Background.png");
    background-size: 150%;
    background-repeat: repeat;
    background-position: center;
    font-size: 1rem;
}
/*Body end*/

/*Intro start*/
.intro {
    text-align: left;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 50px;
}

.intro p {
    font-size: 2em;
    color: var(--header-blue);
}

.intro h1 {
    font-size: 4em;
    color: var(--header-darkblue);
}
/*Intro End*/

/*Spacings Start*/
section {
    padding: 50px 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: left;
    margin-left: 0px;
    margin-right: 0px;
}

.abstand {
    margin-top: 5%; /*old value was 10% for top and bottom*/
    margin-bottom: 5%;
    padding-left: 0%; /*Padding left and right to 0% ensures that the containers are the size of the page*/
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 10%;
}
/*Spacings End*/

/*Trend Technology start*/
.trend-technology {
    background-image: url('/images/ihavenoideawhatthisis.png');
    background-size: contain;
    background-position: center;
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 15em;
    position: relative;
}

.trend-technology h2 {
    background-color: transparent;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    font-size: 3em;
    margin: 0 0 15px 0;
    background-color: var(--header-darkblue);
    box-sizing: border-box;
}

.trend-technology .more {
    align-self: flex-start;
    padding: 8px 20px;
    background-color: var(--header-blue);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.trend-technology .more:hover {
    background-color: var(--header-darkblue);
}
/*Trend Technology end*/


/*Trend Ecological start*/
.trend-ecological {
    background-image: url('/images/wald.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 15em;
}

.trend-ecological h2 {
    background-color: transparent;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    font-size: 3em;
    margin: 0 0 15px 0;
    background-color: var(--main-body-green);
    box-sizing: border-box;
}

.trend-ecological .more {
    align-self: flex-start;
    padding: 8px 20px;
    background-color: var(--main-body-green);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.trend-ecological .more:hover {
    background-color: var(--header-darkblue);
}
/*Trend Ecological end*/


/*Trend health start*/
.trend-health {
    background-image: url('/images/strand.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 15em;
}

.trend-health h2 {
    background-color: transparent;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    font-size: 3em;
    margin: 0 0 15px 0;
    background-color: var(--main-body-orange);
    box-sizing: border-box;
}

.trend-health .more {
    align-self: flex-start;
    padding: 8px 20px;
    background-color: var(--main-body-orange);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.trend-health .more:hover {
    background-color: var(--header-darkblue); /*background color changes when mouse is hovered over that*/
}
/*Trend health stop*/


/*Trend human factor start*/
.trend-human-factor {
    background-image: url('/images/gemeinschaft.png');
    background-size: fill;
    background-position: center;
    color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    min-height: 15em;
}

.trend-human-factor h2 {
    background-color: transparent;
    text-align: left;
    display: inline-block;
    max-width: 100%;
    font-size: 3em;
    margin: 0 0 15px 0;
    background-color: var(--main-body-brown);
    box-sizing: border-box;
}

.trend-human-factor .more {
    align-self: flex-start;
    padding: 8px 20px;
    background-color: var(--main-body-brown);
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.trend-human-factor .more:hover {
    background-color: var(--header-darkblue);
}
/*Trend Human Factor end*/


/*Header Animation start*/
.indicator {
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #ed028c; /* Pink color */
    transition: 0.3s ease-in-out;
}

nav ul {
    position: relative;
}

/*nav ul li a.active {
    Style for the active page link if needed
}*/
/*Header Animation end*/