:root {
    --header-greenblue: #31cde8;
    --header-lightblue: #18a2ff;
    --header-blue: #186cff;
    --header-greyblue: #2c57a6;
    --header-darkblue: #2514b8;
    --main-body-green: #40ae49;
    --main-body-orange: #cb6926;
    --main-body-brown: #733102;
    --main-body-pink: #ed028c;
    --main-body-white: #edfae6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-darkblue);
    height: 100px;
}

header .logo h1 {
    color: #fff;
    margin: 0;
}

nav {
    height: 100%;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    height: 100%;
}

nav ul li {
    flex: 1;
    height: 100%;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

nav ul li a.geschäftsmodell-transformation-link {
    background-color: var(--header-greyblue);
}

nav ul li a.trends-link {
    background-color: var(--header-blue);
}

nav ul li a.know-how-link {
    background-color: var(--header-lightblue);
}

nav ul li a.partner-link {
    background-color: var(--header-greenblue);
}

nav ul li a:hover {
    opacity: 0.8;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/index-Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(90deg);
    z-index: -1;
}


.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h2 {
    font-size: 2.5em;
    margin: 0;
}

.intro p {
    font-size: 1.2em;
    color: var(--header-darkblue);
}

section {
    padding: 50px 20px;
    margin-bottom: 20px;
}

.bm-transform, .bm-trends {
    margin-bottom: 50px;
    background-color: #fff;
}

section h2 {
    text-align: center;
    color: var(--header-darkblue);
}

section p {
    text-align: center;
    color: var(--header-darkblue);
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--main-body-pink);
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    opacity: 0.8;
}

.images, .trends {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.images img, .trends .trend img {
    max-width: 45%;
    margin: 0 10px;
}

.trends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trends .trend {
    flex: 1 1 20%;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.trends .trend p {
    color: white;
    background-color: var(--header-blue);
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px; /* Adjust this value as needed */
    line-height: 1.5; /* Adjust this value as needed */
}
